@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

/* SETUP */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;

    ::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
}
/* END SETUP */

/* -*-*- NAVIGATION BAR -*-*- */
.navbar {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.25rem;
    align-items: center;
    background: rgb(255, 255, 255, 0.9);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.nav_logo {
    font-size: 1.7rem;
    color: #7CB097;
    font-weight: 600;
}

.nav_buttons {
    display: flex;
}


.nav_buttons li:nth-child(1) {
    margin: 0 1.5rem;
}

.nav_buttons li a {
    background-color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    color: #7CB097;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.nav_buttons li a:hover {
    background-color: rgb(124, 176, 151, 0.05);
}

.nav_hamburger {
    display: none;
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    .nav_logo {
        font-size: 1.45rem;
    }

    .nav_buttons li a {
        font-size: 0.85rem;
    }
}

@media only screen and (max-width: 1024px) {
    .nav_logo {
        font-size: 1.25rem;
    }

    .nav_buttons li a {
        font-size: 0.75rem;
    }
}

@media only screen and (max-width : 768px) {
    .nav_buttons {
        display: none;
    }

    .nav_hamburger {
        margin-right: -0.55rem;
        z-index: 999;
        --s: 1.15rem;
        --c: #7CB097;

        display: block;
        
        height: var(--s);
        aspect-ratio: 1;
        border: none;
        padding: 0;
        border-inline: calc(var(--s)/2) solid #0000; 
        box-sizing: content-box;
        --_g1: linear-gradient(var(--c) 20%,#0000 0 80%,var(--c) 0) 
               no-repeat content-box border-box;
        --_g2: radial-gradient(circle closest-side at 50% 12.5%,var(--c) 95%,#0000) 
               repeat-y content-box border-box;
        background: 
          var(--_g2) left  var(--_p,0px) top,
          var(--_g1) left  calc(var(--s)/10 + var(--_p,0px)) top,
          var(--_g2) right var(--_p,0px) top,
          var(--_g1) right calc(var(--s)/10 + var(--_p,0px)) top;
        background-size: 
          20% 80%,
          40% 100%;
        position: relative;
        clip-path: inset(0 25%);
        -webkit-mask: linear-gradient(90deg,#0000,#000 25% 75%,#0000);
        mask: linear-gradient(90deg,#0000,#000 25% 75%,#0000);
        cursor: pointer;
        transition: 
          background-position .3s var(--_s,.3s), 
          clip-path 0s var(--_s,.6s);
        -webkit-appearance:none;
        -moz-appearance:none;
        appearance:none;
      }
      .nav_hamburger:before,
      .nav_hamburger:after {
        content:"";
        position: absolute;
        border-radius: var(--s);
        inset: 40% 0;
        background: var(--c);
        transition: transform .3s calc(.3s - var(--_s,.3s));
      }
      
      .nav_hamburger:checked {
        clip-path: inset(0);
        --_p: calc(-1*var(--s));
        --_s: 0s;
      }
      .nav_hamburger:checked:before {
        transform: rotate(45deg);
      }
      .nav_hamburger:checked:after {
        transform: rotate(-45deg);
      }
      .nav_hamburger:focus-visible {
        clip-path: none;
        -webkit-mask: none;
        mask: none;
        border: none;
        outline: 2px solid var(--c);
        outline-offset: 5px;
    }

    .nav_buttons.is-open {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 0;
        padding:  5.5rem 1.25rem;
        height: 100vh;
        background-color: rgb(255, 255, 255, 0.9);
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
        z-index: 998;
        animation: slideInLeft 0.5s forwards;
    }

    .nav_buttons.open-animation {
        animation: slideInLeft 0.5s forwards;
    }

    @keyframes slideInLeft {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(0%);
        }
    }

    .nav_buttons.close-animation {
        animation: slideOutLeft 0.5s forwards;
    }

    @keyframes slideOutLeft {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(100%);
        }
    }

    .nav_buttons.is-open li {
        text-align: center;
        display: flex;
        justify-content: end;
        margin: 0 0;
    }

    .nav_buttons.is-open li:nth-child(1) {
        margin-bottom: 1.1rem;
    }

    .nav_logo {
        font-size: 1.4rem;
    }

    .nav_buttons li a {
        font-size: 0.85rem;
    }
}

@media only screen and (max-width: 480px) {
    .nav_hamburger {
        --s: 1.05rem;
    }

    .nav_logo {
        font-size: 1.3rem;
    }

    .nav_buttons li a {
        font-size: 0.8rem;
    }
}
/* -*-*- END NAVIGATION BAR -*-*- */

/* -*-*- SECTION 1 -*-*- */
.section_1 {
    display: flex;
    align-items: center;
    height: 100vh;
}

.section_1_slogan {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: absolute;
    margin-left: 4rem;
}

.section_1_slogan p {
    color: #7CB097;
    font-size: 2.2rem;
    padding: 0.5rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.section_1_slogan p:nth-child(2), p:nth-child(4) {
    margin-left: 2rem;
}

.section_1_slogan p:not(:last-child) {
    margin-bottom: 1.25rem;
}

.section_1_mockups {
    position: absolute;
    right: 0;
    margin-right: 4rem;
}

.mockup_imac_launch {
    width: 26rem;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.25));
    transform: translateX(4.5rem);
}

.mockup_iphone_launch {
    width: 8rem;
    filter: drop-shadow(2.5px 2.5px 5px rgba(0, 0, 0, 0.25));
}

.mockup_samsung_launch {
    position: absolute;
    width: 8rem;
    filter: drop-shadow(-2.5px 2.5px 5px rgba(0, 0, 0, 0.25));
    transform: translate(1rem, 5.5rem);
    z-index: 1;
}

.section_1_availability {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.section_1_availability a img {
    width: 10rem;
    filter: drop-shadow(0px 2.5px 5px rgba(0, 0, 0, 0.25));
}

.section_1_availability a:not(:last-child) {
    margin: 0 1rem;
}

/* TODO : Faire le responsive de la section 1 */

@media only screen and (max-width: 1200px) {
    .section_1_slogan p {
        font-size: 1.8rem;
    }

    .mockup_imac_launch {
        width: 22rem;
        transform: translateX(3.5rem);
    }
    
    .mockup_iphone_launch {
        width: 6rem;
    }
    
    .mockup_samsung_launch {
        width: 6rem;
        transform: translate(1rem, 6.2rem);
    }

    .section_1_availability a img {
        width: 8rem;
    }
}

@media only screen and (max-width: 1024px) {
    .section_1_slogan {
        margin-left: 1.65rem;
    }

    .section_1_slogan p {
        font-size: 1.5rem;
        padding: 0.5rem 0.75rem;
    }

    .section_1_slogan p:nth-child(2), p:nth-child(4) {
        margin-left: 1.5rem;
    }

    .section_1_mockups {
        margin-right: 2rem;
    }

    .mockup_imac_launch {
        width: 17rem;
        transform: translateX(3.5rem);
    }
    
    .mockup_iphone_launch {
        width: 6rem;
    }
    
    .mockup_samsung_launch {
        width: 6rem;
        transform: translate(0.8rem, 1.9rem);
    }

    .section_1_availability a img {
        width: 7rem;
    }
}

@media only screen and (max-width: 768px) {
    .section_1 {
        display: flex;
        flex-direction: column;
    }

    .section_1.below-navbar {
        margin-top: 90px;
        height: calc(100vh - 90px);
    }
    
    .section_1_slogan {
        align-items: center;
        margin-left: 0;
    }
    
    .section_1_slogan p {
        font-size: 1.8rem;
    }
    
    .section_1_slogan p:nth-child(2), p:nth-child(4) {
        margin-left: 0;
    }
    
    .section_1_slogan p:not(:last-child) {
        margin-bottom: 1.25rem;
    }
    
    .section_1_mockups {
        position: relative;
        margin-right: 0;
        margin-top: 22rem;
    }
    
    .mockup_imac_launch {
        width: 20rem;
        transform: translateX(3.55rem);
    }
    
    .mockup_iphone_launch {
        width: 7rem;
    }
    
    .mockup_samsung_launch {
        width: 7rem;
        transform: translate(0rem, 2.5rem);
    }
    
    .section_1_availability a img {
        width: 9rem;
        transform: translateX(-0.5rem);
    }
}

@media only screen and (max-width: 480px) {
    .section_1_slogan p {
        font-size: 1.5rem;
    }
    
    .mockup_imac_launch {
        width: 16rem;
        transform: translateX(2.55rem);
    }

    .section_1_mockups {
        margin-top: 20rem;
    }
    
    .mockup_iphone_launch {
        width: 5rem;
    }
    
    .mockup_samsung_launch {
        width: 5rem;
        transform: translate(0, 3.2rem);
    }
    
    .section_1_availability a img {
        width: 7rem;
        transform: translateX(-0.5rem);
    }
}
/* -*-*- END SECTION 1 -*-*- */

/* -*-*- SECTION 2 -*-*- */
.section_2 {
    height: 100vh;
    display: flex;
    align-items: center;
}

.section_2.below-navbar {
    margin-top: 70px;
    height: calc(100vh - 70px);
}

.section_2 img {
    width: 30rem;
    object-fit: contain;
    margin-right: 2.5rem;
    margin-left: 1.25rem;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.25));
}

.section_2_about_us h2 {
    display: inline-block;
    color: #7CB097;
    font-size: 1.75rem;
    background-color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    margin-bottom: 1.5rem;
    margin-left: 1.2rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.section_2 p {
    font-size: 1.25rem;
    margin: 0 1.25rem;
    text-align: justify;
}

.section_2 span {
    color: #7CB097;
    font-weight: 600;
}

.section_2_about_us h3 {
    display: inline-block;
    font-size: 1.5rem;
    margin: 1.5rem 0;
    padding: 0.5rem 1rem;
    color: #7CB097;
    background-color: #ffffff;
    border-radius: 0.25rem;
    margin-left: 1.2rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

@media only screen and (max-width: 1200px) {
    .section_2.below-navbar {
        margin-top: 60px;
        height: calc(100vh - 60px);
    }

    .section_2 img {
        width: 25rem;
    }

    .section_2_about_us h2 {
        font-size: 1.4rem;
    }

    .section_2 p {
        font-size: 1.15rem;
    }

    .section_2_about_us h3 {
        font-size: 1.35rem;
    }
}

@media only screen and (max-width: 1024px) {
    .section_2.below-navbar {
        margin-top: 60px;
        height: calc(100vh - 60px);
    }

    .section_2 img {
        width: 20rem;
    }

    .section_2_about_us h2 {
        font-size: 1.25rem;
    }

    .section_2 p {
        font-size: 1rem;
    }

    .section_2_about_us h3 {
        font-size: 1.15rem;
    }
}

@media only screen and (max-width: 768px) {
    .section_2 {
        display: flex;
        flex-direction: column;
    }

    .section_2.below-navbar {
        margin-top: 0px;
        height: calc(100vh - 0px);
    }

    .section_2 img {
        width: 22rem;
        margin-right: 0;
        margin-left: 0;
        margin: 5rem 0 2.5rem 0;
    }

    .section_2_about_us h2 {
        font-size: 1.35rem;
    }

    .section_2 p {
        font-size: 1.1rem;
    }

    .section_2_about_us h3 {
        font-size: 1.25rem;
    }
    
    .section_2_about_us {
        padding-bottom: 1rem;
    }
}

@media only screen and (max-width: 480px) {
    .section_2 img {
        width: 20rem;
        margin: 0 0 3rem 0;
    }

    .section_2_about_us h2 {
        font-size: 1.25rem;
    }

    .section_2 p {
        font-size: 1rem;
    }

    .section_2_about_us h3 {
        font-size: 1.15rem;
    }
}
/* -*-*- END SECTION 2 -*-*- */
